
:root {
    --ice-color: #00FFF0;
    --purple-color: #6C4882;
    --green-color: #006504;
    --orange-color: #FF7A00;
    --red-color: #FF0000;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1440 px;
    height: 900 px;
    margin: 0 auto;
    background-color: #32384B;
}

.desktop-nav {
    display: flex;
    background-color: var(--purple-color);
    position: fixed;
    padding: 20 20 px;
    z-index: 200;
    width: 1440px;
}

.desktop-nav .top-menu li {
    display: flex;
    list-style: none;
    margin: 20 20 px;
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.container {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .left h1 {
    font-size: 48px;
}

.ellipse-container .circle1 {
    position: absolute;
    z-index: -1;
    left: -138px;
    top: -108px;
}

.ellipse-container .circle2 {
    position: absolute;
    width: 443px;
    height: 443px;
    z-index: -1;
    left: 391px;
    top: 73px;
}