
:root {
    --ice-color: #00FFF0;
    --purple-color: #6C4882;
    --green-color: #006504;
    --orange-color: #FF7A00;
    --red-color: #FF0000;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1440 px;
    margin: 0 auto;
}

.desktop-nav {
    display: flex;
}