/* Colors */

:root {
    --dark-purple: #6C4882;
    --white: #ffffff;
    --orange: #FF7A00;
    --green:#006504;
    --cyan: #00FFF0;
    --bubble-brown: #FF4D00;
    --bubble-dark-brown: #1C1313;
    --logo-grey: #C4C4C4;

}